<header>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 logo">
                        <a href="http://www.bellerbys.com/"><img src="app/img/logo.png" border="0"></a>
                      </div>
                      <div class="col-md-3 social_media_wrapper">
                        <div class="social_media">
                          <a href="#"><img src="app/img/instagram.png"></a>
                          <a href="#"><img src="app/img/twitter.png"></a>
                          <a href="#"><img src="app/img/facebook.png"></a>
                          <a href="#"><img src="app/img/gplus.png"></a>
                          <a href="#"><img src="app/img/youtube.png"></a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <nav role="navigation">

                          <button type="button" id="togglenav" class="switch btn visible-xs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                          <ul class="pull-right" id="nav" role="menu">
                            <li><a href="#colleges">Locations</a></li>
                            <li><a href="#study-options">Study Options</a></li>
                            <li><a href="#admissions">Admissions</a></li>
                          </ul>

                       </nav>
                      </div>
                    </div>
                  </div>
                </header>